/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

body {
  margin: 0;
  font-family: "sans-serif";
}

a {
  text-decoration: none;
}

h3{
	text-align:center;
	font-size:30px;
}
li{
	display:inline-block;
}

ul{
	display:inline-block;
	margin:10px;;
}

/* ヘッダー */

header{
	width:100%;
	height:75px;
	padding:0 100px;
	box-shadow: 0 0 3px gray;
}

header a{
	color:black;
	font-size: 3rem;
	text-decoration: none;
}

header a:hover{
	color:black;
	text-decoration: none;
}

header .btn{
	color: #212529;
	padding: .375rem .75rem;
	font-size: 1.5rem;
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: color .15s ease-in-out,
				background-color .15s ease-in-out,
				border-color .15s ease-in-out,
				box-shadow .15s ease-in-out;
}
header ul{
	float:right;
}

/* main */

.main{
	padding-top:30px;
}

.profile_wrapper{
	padding-bottom:30px;
}

.profile_wrapper .container{
	border:1px solid rgba(0,0,0,0.3);
	width:80%;
	margin:0 auto;
	border-radius:5px;
	box-shadow:0 2px 4px rgba(0,0,0,0.2);
	padding:30px 20px;
}

.profile_con{
		vertical-align:top;
}

.icon{
	display:inline-block;
	text-align:center;
}

.icon img{
	display:block;
	margin-bottom:15px;
	width: 400px;
	height: 400px;
	object-position:50% 50%;
	object-fit:cover;
	border-radius:5px;
}

.input input{
	display:block;
}


.name{
	display:inline-block;
	width:550px;
	height:100%;
}

.name p{
	height:100%;
	width:100%;
	font-size:70px;
	padding:30px;
	line-height:300px;
	text-align:center;
}

.update{
	padding:30px 0 0 0;
	text-align:center;
}

.update .go{
	padding:15px 200px 15px 200px;
	width:300px;
	height:40px;
	background: #FFAFBD;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color:white;
	text-align:center;
	border-radius:5px;
	cursor:pointer;
	line-height:40px;

}

.update .go:hover{
		color:white;
		text-decoration: none;
		background:rgb(255,176,189);
}

.go_update{
	margin-right:100px;
}

.item_wrapper2{
	margin-top:50px;
}

.item_wrapper .container{
	border:1px solid rgba(0,0,0,0.3);
	width:80%;
	margin:0 auto;
	padding:30px 5px 5px 5px;
	border-radius:5px;
	box-shadow:0 2px 4px rgba(0,0,0,0.2);
}

.cart_title{
	padding-left:40px;
}

.table .go{
	padding:10px 20px 10px 20px;
	width:150px;
	height:40px;
	background: #FFAFBD;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color:white;
	text-align:center;
	border-radius:5px;
	cursor:pointer;
	line-height:40px;

}

.table .go:hover{
		color:white;
		text-decoration: none;
		background:rgb(255,176,189);
}

.return_wrapper{
	width:80%;
	height:60px;
	padding:0 400px;
}

.return{
	display:block;
	width:150px;
	height:40px;
	background-color:rgba(128,128,128,0.7);
	color:white;
	text-align:center;
	border-radius:5px;
	cursor:pointer;
	line-height:40px;
	float:left;
}
.return:hover{
	background-color:rgba(128,128,128,1);
	color:white;
	text-decoration: none;
}

.detail_btn{
	display:block;
	width:120px;
	height:40px;
	background-color:rgba(23,162,184,0.7);
	color:white;
	text-align:center;
	border-radius:5px;
	cursor:pointer;
	line-height:40px;
	float:left;
}

.detail_btn:hover{
	background-color:rgba(23,162,184,1);
	color:white;
	text-decoration: none;
}

footer{
	height:40px;
	margin-top:40px;
background: #FFAFBD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer .text{
	color:white;
	text-align:center;
	line-height:40px;
}


