/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

body {
  margin: 0;
  font-family: "sans-serif";
}

a {
  text-decoration: none;
}

h3{
	text-align:center;
	font-size:30px;
}
img{
	border-radius:3px;
}
.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.cnt_name{
	height:25px;
}

li{
	display:inline-block;
}

ul{
	display:inline-block;
	margin:10px;;
}

/* ヘッダー */

header{
	width:100%;
	height:75px;
	padding:0 100px;
	box-shadow: 0 0 3px gray;
}

header a{
	color:black;
	font-size: 3rem;
	text-decoration: none;
}

header a:hover{
	color:black;
	text-decoration: none;
}

header .btn{
	color: #212529;
	padding: .375rem .75rem;
	font-size: 1.5rem;
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: color .15s ease-in-out,
				background-color .15s ease-in-out,
				border-color .15s ease-in-out,
				box-shadow .15s ease-in-out;
}
header ul{
	float:right;
}

/* main */

.main{
	padding-top:30px;
}

.main .container{
	border:1px solid rgba(0,0,0,0.3);
	width:80%;
	margin:0 auto;
	padding:30px 5px 5px 5px;
}

.cart_title{
	padding-left:40px;
}


.go{
	padding:10px 20px 10px 20px;
	width:150px;
	height:40px;
	background: #FFAFBD;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color:white;
	text-align:center;
	border-radius:5px;
	cursor:pointer;
	line-height:40px;

}

.go:hover{
		color:white;
		text-decoration: none;
		background:rgb(255,176,189);
}

.return_wrapper{
	width:80%;
	height:60px;
	padding:0 390px;
}

.return{
	display:block;
	width:150px;
	height:40px;
	background-color:rgba(128,128,128,0.7);
	color:white;
	text-align:center;
	border-radius:5px;
	cursor:pointer;
	line-height:40px;
	float:left;
}
.return:hover{
	background-color:rgba(128,128,128,1);
	color:white;
	text-decoration: none;
}
footer{
	height:40px;
	margin-top:40px;
background: #FFAFBD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer .text{
	color:white;
	text-align:center;
	line-height:40px;
}