/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

body {
  margin: 0;
  font-family: "sans-serif";
}

a {
  text-decoration: none;
}

.btn:focus, .btn:active{
  outline: none !important;
  box-shadow: none !important;
}

input:focus, input:active{
  outline: none !important;
  box-shadow: none !important;
  border-bottom:1.5px groove #cccccc;
}
li{
	display:inline-block;
}

ul{
	display:inline-block;
	margin:10px;;
}


/* ヘッダー */

header{
	width:100%;
	height:75px;
	padding:0 100px;
	box-shadow: 0 0 3px gray;
	background-color:white;
}

header heade-wrapper{
	height:100%;
}

header a{
	color:black;
	font-size: 3rem;
	text-decoration: none;
}

header a:hover{
	color:black;
	text-decoration: none;
}

header .btn{
	color: #212529;
	padding: .375rem .75rem;
	font-size: 1.5rem;
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: color .15s ease-in-out,
				background-color .15s ease-in-out,
				border-color .15s ease-in-out,
				box-shadow .15s ease-in-out;
}
header ul{
	float:right;
}

/* body */

.main{
	height:auto;
	width:100%;
	margin-bottom:40px;
}

.main .container{
	margin:0 auto;
	height:100%;
	padding:0 50px 50px 50px;
}
.refer{
	text-align:center;
}

.eat_text{
	 height:45px;
	 width:500px;
	 font-size:20px;
	 border-radius: 2px;
	 margin-top:80px;
	 opacity: 0.5;
	 left:4.8px;
	 bottom:9.9px;
	border-bottom:1px solid #cccccc;
	border-right:none;
	border-left:none;
	border-top:none;
	border-radius:0px;
}


.text_wrapper{
	padding:50px 0 40px 0;
}

.text_wrapper h1{
	font-size:30px;
	text-align:center;
}

.page_wrapper{
	font-size:25px;
	margin-bottom:20px;
	text-align:center;
}

.page-link{
	margin-right:5px;
	color:black;
}

.goods_wrapper{
	height:100%;
}

.goods{
	display: inline-block;
	transition:box-shadow 0.2s;
	padding: 30px;
	text-align: center;
}

.goods:hover{
	box-shadow: 0 0 8px gray;
	position:relative;
	z-index:10;

}
.goods p{
	font-size:14px;
}
.goods img{
	border-radius:2px;
}

.name{
	margin:10px 0 0 0;
}

.price{
	margin:0 0 15px 0;
}

.up_icon{
	height:50px;
}

.color{
	position:absolute;
	position: fixed;
	color:black;
	right:20px;
	bottom:45px;
	cursor:pointer;
}


footer{
	height:40px;
background: #FFAFBD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer .container{
	width:100%;
	height:40px;
}

.container .text{
	color:white;
	text-align:center;
	line-height:40px;
}

.page-link{
	display:inline;
}
.page-link1{
	margin-right:8.7px;
}
.page-link6{
	margin-right:0;
}