/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

body {
  margin: 0;
  font-family: "sans-serif";
}

a {
  text-decoration: none;
}
header{
  height:65px;
  width:100%;
  background-color:#fffff0;
  box-shadow:0 2px 4px rgba(255,255,255,0.3);
  top:10px;
}
/* containerクラスのCSSを指定してください */
.container{
  width:1170px;
  padding:0 50px;
  margin:auto;
  position: relative;
  overflow: hidden;
}

.header-center .title{
	font-size:50px;
	color:#808080;
	line-height:65px;
	position: relative;
	float: left;
	font-family: 'Open Sans';
}
.header-right{
	font-size:18px;
	line-height:65px;
	padding-right:10px;
	float:right;
}
.btn{
	padding:10px;
	background-color:white;
}

.login_btn{
	margin-right:10px;
	border:1.3px solid #483d8b;
	color:#483d8b;
	border-radius: 3px;
}
.login_btn:hover{
	border:1.3px solid #27224d;
	color:#27224d;
}

.signup_btn{
	background-color:#dc143c;
	color:white;
	border-radius: 3px;
}

.signup_btn:hover{
	background-color:#b31031;
}
/* top-wrapperクラスのCSSを指定してください */
.top-wrapper{
  padding:80px 0 0 0;
  background-image: url(../img/gahag-0114507215.jpg);
  background-size:cover;
  color:white;
  height:400px;
}
.inputs{
	height:70px;
	width:500px;
	display:inline-block;
	float:left;

}
.eatText{
	 position:relative;
	 height:45px;
	 width:250px;
	 font-size:20px;
	 border-radius: 2px;
	 padding-left:15px;
	 opacity: 0.5;
	 left:4.8px;
	 bottom:9.9px;

}
.search{
	 font-size:45px;
	 top:50;
	 opacity: 0.5;
	 background-color:white;
}

.search:hover{
	background-color:red;
	color:white;
}
.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 2px;
  font-family: 'Open Sans';
}

.lesson-wrapper{
	margin-bottom:200px;
	height:500px;
	text-align:center;
	padding:0 200px;
}

.lesson-wrapper .container{
	width:300px;
	height:300px;
	margin:30px 0 0 0;
	background-color:rgba(192,192,192,0.2);
	border-radius: 2px;
}


.lesson-wrapper .container{
	line-height:280px;
	font-family: 'Open Sans';
	font-size:10px;
}

footer{
	height:40px;
	margin-top:40px;
background: #FFAFBD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer .text{
	color:white;
	text-align:center;
	line-height:40px;
}


.sample02 .swiper-wrapper {
  align-items: stretch;
}

.sample02 .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-bottom: 25px;
}

.sample02 .sample02-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sample02 .swiper-button-prev,
.sample02 .swiper-button-next {
  display: none;
  width: 20px;
  height: 32.58px;
  fill: #666;
  stroke: none;
  stroke-width: 0;
  background-image: none;
  z-index: 10000;
}

.sample02 .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0;
}

.sample02 .swiper-pagination-bullet-active {
  background: #666;
}

@media (min-width: 768px) {
  .sample02 .swiper-slide {
    padding: 50px;
  }

  .sample02 .swiper-button-prev,
  .sample02 .swiper-button-next {
    display: block;
  }

  .sample02 .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 10px;
  }
}