/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

body {
  margin: 0;
  font-family: "sans-serif";
}

a {
  text-decoration: none;
}

h3{
	text-align:center;
	font-size:30px;
}

img{
	border-radius:3px;
}

header{
  height:65px;
  width:100%;
  background-color:#fffff0;
  box-shadow:0 2px 4px rgba(0,0,0,0.3);
  top:10px;

}
/* containerクラスのCSSを指定してください */
header .container{
  width:1170px;
  padding:0 50px;
  margin:auto;
  position: relative;
  overflow: hidden;
}

.header-center .title{
	font-size:50px;
	color:#808080;
	line-height:65px;
	position: relative;
	float: left;
	font-family: 'Open Sans';
	text-decoration: none;
}
.header-right{
	width:250px;
	font-size:18px;
	line-height:65px;
	float:right;
}

.main{
	padding-top:30px;
}

.profile_wrapper{
	padding-bottom:30px;
}

.profile_wrapper .container{
	border:1px solid rgba(0,0,0,0.3);
	width:80%;
	margin:0 auto;
	border-radius:5px;
	box-shadow:0 2px 4px rgba(0,0,0,0.2);
	padding:30px 20px;
}

.profile_con{
		vertical-align:top;
}

.icon{
	display:inline-block;
	text-align:center;
}

.icon img{
	display:block;
	margin-bottom:15px;
	width: 400px;
	height: 400px;
	object-position:50% 50%;
	object-fit:cover;
	border-radius:5px;
}

.input input{
	display:block;
}


.name{
	display:inline-block;
	width:550px;
	height:100%;
}

.name p{
	height:100%;
	width:100%;
	font-size:70px;
	padding:30px;
	line-height:300px;
	text-align:center;
}

.go{
	padding:5px 20px 5px 20px;
	width:150px;
	margin:0 10px 0 10px;
	height:40px;
	background: #FFAFBD;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color:white;
	text-align:center;
	border-radius:5px;
	cursor:pointer;
	line-height:40px;
	transition: all 0.5s;
}

.go:hover{
		color:white;
		text-decoration: none;
		background:rgb(255,176,189);
}

.delete{
	padding:5px 20px 5px 20px;
	width:150px;
	margin:0 10px 0 10px;
	height:40px;
	background: #FFAFBD;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color:white;
	text-align:center;
	border-radius:5px;
	cursor:pointer;
	line-height:40px;
	transition: all 0.5s;
}

.delete:hover{
		color:white;
		text-decoration: none;
		background:red;
}


.item_wrapper2{
	margin-top:50px;
}

.item_wrapper .container{
	border:1px solid rgba(0,0,0,0.3);
	width:80%;
	margin:0 auto;
	padding:30px 5px 5px 5px;
	border-radius:5px;
	box-shadow:0 2px 4px rgba(0,0,0,0.2);
}

.cart_title{
	padding-left:40px;
}
.return_wrapper{
	width:80%;
	height:60px;
	padding:0 400px;
}

.return{
	display:block;
	width:150px;
	height:40px;
	background-color:rgba(128,128,128,0.7);
	color:white;
	text-align:center;
	border-radius:5px;
	cursor:pointer;
	line-height:40px;
	float:left;
}
.return:hover{
	background-color:rgba(128,128,128,1);
	color:white;
	text-decoration: none;
}

.detail_btn{
	display:block;
	width:120px;
	height:40px;
	background-color:rgba(23,162,184,0.7);
	color:white;
	text-align:center;
	border-radius:5px;
	cursor:pointer;
	line-height:40px;
	float:left;
}

.detail_btn:hover{
	background-color:rgba(23,162,184,1);
	color:white;
	text-decoration: none;
}

footer{
	height:40px;
	margin-top:40px;
background: #FFAFBD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer .text{
	color:white;
	text-align:center;
	line-height:40px;
}


